# Ignore unnecessary files
.vscode/
.vscode-test/
.git/
node_modules/
tmp-*
tests/
.vscodeignore
.gitignore

# ⚠️ Do NOT ignore node_modules completely if dependencies are needed
!node_modules/csv-parser
